.col {
    text-align: center;
}

h4 {
    padding-top: 50px;
    text-align: center;
}

.filterDropdown {
    width: 50%;
    height: 35px;
}

.tooltip {
    position: absolute;
    text-align: center;
    background: lightgray;
    border-radius: 2px;
    /*  pointer-events: none;	This line needs to be removed */
}

.tiptext {
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
}

.tooltip h4, h5 {
    text-align: left;
}
.tooltip h5 {
    font: 14px sans-serif;
}

h1, h2, h4 {
    font-family: 'Space Grotesk', sans-serif;
}

p {
    font-family: 'Asap', sans-serif;
    text-align: left;
}

.authors {
    font-family: 'Space Grotesk', sans-serif;
    color: gray;
    font-size: 13pt;
}

.row .col h6 {
    align-items: center;
    justify-items: center;
}